<h1>マイページ</h1>

<%= attachment_image_tag(@user, :image, fallback: "no-user-image-icon.jpg", size: "100x100" ) %>
<%= @user.name %>
<%= @user.introduction %>

<% if @user = current_end_user %>
  <%= link_to '編集', edit_end_user_path(@user) %>
<% end %>